In [13]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in ./miniconda3/envs/jupyter-env/lib/python3.11/site-packages (8.4.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import mysql.connector

In [15]:

mydb = mysql.connector.connect(
    host="localhost",
    user="yourusername",
    password="yourpassword",
    database="your_database"
)


cursor = mydb.cursor()

InterfaceError: 2003: Can't connect to MySQL server on 'localhost:3306' (61 Connection refused)